<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="mssql" value="server=.;database=NewProject;uid=sa;pwd=sql2015kpfxzz82" />
    <add key="LogFilePath" value="E:\" />
    <add key="WXAPPID" value="" />
    <add key="WXAPPSECRET" value="" />
    <add key="WXMCHID" value="" />
    <add key="WXSHKEY" value="" />
    <!--<add key="WXCERTPATH" value="C:\web\MyJService\cert\apiclient_cert.p12"/>-->
    <add key="WXCERTPATH" value="C:\apiclient_cert.p12" />
    <add key="ALIpartner" value="" />
    <add key="ALIseller_id" value="" />
    <add key="ALIprivate_key" value="" />
    <add key="ALIalipay_public_key" value="" />
    <add key="ALIapp_id" value="" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"></requestLimits>
      </requestFiltering>
    </security>
    <modules>
    </modules>
    <handlers>
      <add name="KedllHttpFactory" verb="*" path="*Ajax*/*.cspx" type="Kedll.KedllHttpFactory" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
  <configSections>
    <section name="RedisConfig" type="RedisDemo.RedisConfigInfo, RedisDemo"/>
  </configSections>
  <RedisConfig WriteServerList="127.0.0.1:6379" ReadServerList="127.0.0.1:6379" MaxWritePoolSize="60"
        MaxReadPoolSize="60" AutoStart="true" LocalCacheTime="180" RecordeLog="false">
  </RedisConfig>
</configuration>
